


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .calculadora {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    
  }
  
  .numeros {
    margin: 10px 0;
  }
  
  .boton {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
  }
  
  .boton:hover {
    background-color: #e7e00a;
    transform: scale(1.05);
    color: #000000;
    
  }
  
  .operciones {
    margin-top: 10px;
  }
  
  #igual {
    background-color: #005dba;
  }
  
  #igual:hover {
    background-color: #007199;
  }
  
  #cero {
    width: 100px;
  }
  
  .panel {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  /* Add more styling as needed for your JavaScript functionality */
  
  